@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    min-height: 100vh;
    background-color: var(--clr-dark-gray);

    --clr-black: #1c1c1c;
    --clr-gray: #d2cfcf94;
    --clr-white: #f7f7f7;
    --clr-dark-gray: #212121;
    --clr-shadow-light: rgba(227, 215, 215, 0.5);
    --clr-light-gray: #cbc8c82d;
    --clr-border-dark: #333098;
    --clr-background-yellow: #fdcd33;

    --type-normal: #C6C6A7;
    --type-fire: #F5AC78;
    --type-water: #9DB7F5;
    --type-grass: #A7DB8D;
    --type-electric: #FAE078;
    --type-ice: #BCE6E6;
    --type-fighting: #D67873;
    --type-poison: #C183C1;
    --type-ground: #EBD69D;
    --type-flying: #C6B7F5;
    --type-psychic: #FA92B2;
    --type-bug: #C6D16E;
    --type-rock: #D1C17D;
    --type-ghost: #A292BC;
    --type-dark: #A29288;
    --type-dragon: #A27DFA;
    --type-steel: #D1D1E0;
    --type-fairy: #F4BDC9;
}

ul {
    list-style-type: none;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem var(--clr-shadow-light);
}

h2{
    text-transform: uppercase;
}


.title {
    text-align: center;
    font-size: 2rem;
    .image {
        max-width: 400px;
        width: 100%;
    }
}


.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1px;
    background-color: var(--clr-light-gray);
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#pokemon-search {
    padding: 10px;
    border: 2px solid var(--clr-border-dark);
    box-shadow: 0 0 0.5rem var(--clr-border-dark);
    border-radius: 20px;
    width: 200px;
    font-size: 1rem;
    font-size: 0.9rem;
    background-color: #21212116;
    color: var(--clr-white);
}
#pokemon-search:focus {
    outline: none;
    border-color: var(--clr-background-yellow);

    box-shadow: 0 0 1rem var(--clr-shadow-light);
}

.btn-search {
    padding: 0px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: var(--clr-background-yellow);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
        transform: scale(1.1); 
    }
}


.nav {
    
    padding: 1rem;
    max-width: 100%;
    border-radius: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav-list {
    display: flex;
    width: 80%;
    margin: 30px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn {
    border: none;
    padding: 4px 27px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 0.2rem var(--clr-shadow-light);
    color: var(--clr-border-dark);
    background-color: var(--clr-background-yellow);
}

.normal {
    background-color: var(--type-normal);
}

.fire {
    background-color: var(--type-fire);
}

.water {
    background-color: var(--type-water);
}

.grass {
    background-color: var(--type-grass);
}

.electric {
    background-color: var(--type-electric);
}

.ice {
    background-color: var(--type-ice);
}

.fighting {
    background-color: var(--type-fighting);
}

.poison {
    background-color: var(--type-poison);
}

.ground {
    background-color: var(--type-ground);
}

.flying {
    background-color: var(--type-flying);
}

.psychic {
    background-color: var(--type-psychic);
}

.bug {
    background-color: var(--type-bug);
}


.rock {
    background-color: var(--type-rock);
}

.ghost {
    background-color: var(--type-ghost);
}

.dark {
    background-color: var(--type-dark);
}

.dragon {
    background-color: var(--type-dragon);
}

.steel {
    background-color: var(--type-steel);
}

.fairy {
    background-color: var(--type-fairy);
}

.btn:hover {
    transform: scale(1.07);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--clr-dark-gray);
}

.all-pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .all-pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .all-pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin: 9px;
}

.pokemon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 3rem -1rem var(--clr-gray);
    cursor:pointer;
}

.pokemon-id-back {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6.7rem;
    font-weight: 900;
    z-index: -1;
    color: #1c1c1c88;
}

.pokemon-image {
    padding-inline: 1rem;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 200px;
    height: 200px;
    transition: transform 0.7s ease-in-out;
}



.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.container-name {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-name {
    font-size: 1.4rem;
}

.pokemon-type {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    margin: 10px;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-modal {
    display: none; 
    position: fixed;
    margin-top: 30px;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 900px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 80vh; 
    background-color: rgba(0, 0, 0, 0.5);

    box-shadow: 0px 0px 30px var(--clr-border-dark);
}
.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modal-image{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.evolution-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.evolution-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.evolution-container img {
    width: 80px;
    height: 80px;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.evolution-arrow {
    font-size: 80px;
    background: linear-gradient(to right, orange, red);
    background-size: 200% 100%; /* Asegura que el gradiente tenga suficiente tamaño para moverse */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientMove 5s linear infinite; /* Cambia la duración según tus preferencias */
    margin: 0 10px;
}




.stats-container {
    margin-top: 20px;
}

.stat-bar {
    background-color: #fefefe4c;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.stat-bar span {
    display: block;
    height: 20px;
    text-align: right;
    padding-right: 5px;
    line-height: 20px;
    border-radius: 5px;
    color: #373434;
}

.stat-bar span::first-letter {
    text-transform: uppercase; /* Asegura que la primera letra esté en mayúscula */
}


.stat-bar .hp { background-color: var(--clr-white); }
.stat-bar .attack { background-color: var(--clr-white); }
.stat-bar .defense { background-color: var(--clr-white); }
.stat-bar .special-attack { background-color: var(--clr-white); }
.stat-bar .special-defense { background-color: var(--clr-white); }
.stat-bar .speed { background-color: var(--clr-white); }


.stats {
    margin-top: 20px;
}

.stat-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stat-name {
    flex: 1;
    text-transform: capitalize;
}

.progress {
    flex: 3;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    background-color: #4caf50;
    text-align: right;
    padding-right: 5px;
    color: white;
    height: 100%;
    line-height: 20px;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}




.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    background-color: transparent;
    border: 1px solid #dddddde0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
    color: #837d7d;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    outline: none;
}

.pagination button:hover {
    background-color: #e0e0e0;
    border-color: #ccc;
}

.pagination button:disabled {
    background-color: transparent;
    border-color: #dddddd2c;
    cursor: not-allowed;
}

.pagination button i {
    pointer-events: none; 
}

.pagination button:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

